@* <div class="brandBackground"> *@
	<a class="sidebar-brand brand-logo mb-5" href="app/home" style="margin-bottom:-40px;margin-top:40px;">
		<img src="images/OKLogo.png" alt="logo" style="width:150px; height:120px" />
	</a>

	<a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="app/home">
		<img src="images/OKLogo.png" alt="logo" style="width:40px;" />
	</a>
@* </div> *@

<style>
	.brandBackground {
		background-image: url(../images/brandBackground.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>