
@using Syncfusion.Blazor.Notifications
@using SfSkeletonType  = Syncfusion.Blazor.Notifications.SkeletonType

<div class="d-flex justify-content-evenly mb-1">
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SfSkeletonType.Square" Width="80px"></SfSkeleton>
</div>
<SfSkeleton Shape="SfSkeletonType.Text" Height="25px" Width="100%"></SfSkeleton>
