<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebUI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="netcodehub.packages.ui.templates.breeze/css/bootstrap.min.css" />
    <link rel="stylesheet" href="netcodehub.packages.ui.templates.breeze/css/style.css" />
    <link rel="stylesheet" href="netcodehub.packages.ui.templates.breeze/icon/materialdesignicons.min.css" />
   
    <link rel="stylesheet" href="Syncfusion/Syncfusion.Blazor.Themes/bootstrap5.css" />
    <script type="text/javascript" src="Syncfusion/scripts/syncfusion-blazor.min.js"></script>
    <script src="netcodehub.packages.ui.templates.breeze/Modal/modal.js"></script>

    <link rel="stylesheet" href="MudBlazor/MudBlazor.min.css" />
    <script src="MudBlazor/MudBlazor.min.js"></script>
    <script src="js/custom.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="netcodehub.packages.ui.templates.breeze/js/bootstrap.bundle.min.js"></script>
    <script src="netcodehub.packages.ui.templates.breeze/js/base.js"></script>
    <script src="netcodehub.packages.ui.templates.breeze/js/settings.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="js/ProductList.js"></script>

    <script src="_framework/blazor.web.js"></script>
   
</body>

</html>
