@page "/Account/access-denied"
@using WebUI.Components.Layout
@layout MainLayout
@using NetcodeHub.Packages.UI.Templates.Breeze

<TwoSectionsTemplate>
	<Col12Template>
		<div class="card">
			<div class="alert alert-warning"><h1>Sorry, you do not have access.</h1>
			</div>
		</div>
	</Col12Template>
	<FooterTemplate></FooterTemplate>
</TwoSectionsTemplate>
